services:
  mysql:
    image: mysql:8.0.36
    container_name: mysql-db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: bibliotheque
      MYSQL_USER: myuser
      MYSQL_PASSWORD: rootpass
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./init:/docker-entrypoint-initdb.d
    healthcheck:
        test: ["CMD-SHELL", "mysqladmin ping -h localhost -u root -prootpass || exit 1"]
        interval: 10s
        timeout: 10s
        retries: 30
        start_period: 30s

  api:
    build: .
    container_name: bibliotheque-api
    restart: unless-stopped
    depends_on:
      mysql:
        condition: service_healthy
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Server=mysql;Port=3306;Database=bibliotheque;User=myuser;Password=rootpass;SslMode=none;
    ports:
      - "5000:5000"
    extra_hosts:
      - "host.docker.internal:host-gateway"

volumes:
  db_data:
